/* styles.css */

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.feedback-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feedback-options div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-options img {
  width: 100px; /* Adjust the width of the icons as needed */
  height: 100px; /* Adjust the height of the icons as needed */
  cursor: pointer;
}

#feedback-form {
  margin-top: 20px;
  text-align: center;
}
